<!DOCTYPE html>
<html leng = "en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <title>Profil</title>
  </head>

  <body>
    <a href ="/">Kembali</a>
    <form action = "/tambah" method = "post">
        Nama
        <input type = "text" name = "nama"><br>
        NIM
        <input type = "text" name = "nim"><br>
        Jurusan
        <input type = "text" name = "jurusan"><br>
        <input type = "submit" value = "SIMPAN">
    </form>

</body>
</html>